:root{
    --cor-fundo:#c4cfc6;
    --cor-pricipal:#313647;
    --cor-secundaria:#435663;
    --cor-destaque:#A3B087;
    --cor-texto:#FFF8D4;
}
body{
    background-color: var(--cor-fundo);
    color: var(--cor-pricipal);
    display: flex;
    align-items: center;
    justify-content: center;

}

.classe-principal{
    background-color: var(--cor-pricipal);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 15px;
}

.caixa-principal{
    background-color: var(--cor-pricipal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;

}}

.button{
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: background-color 0.3s;

}